<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>HinoDeia</title>
                
	</head>
        <body>
            <div id="container">  
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img class="first-slide" src="images/logo.png" alt="First slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Mehores Jóias</h1>
                            </div>
                        </div>
                    </div>
        
                    <div class="item">
                        <img class="second-slide" src="images/perfumes.jpg" alt="Second slide">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Perfumes</h1>
                            </div>
                        </div>
                    </div>
                    
                    <div class="item">
                        <center><img class="third-slide" src="images/roupas.jpg" alt="Third slide"></center>
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Roupas</h1>
                            </div>
                        </div>
                    </div>
                </div>
      
              <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
      
              <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
             </a>
            </div>
            </div>
            <!-- /.carousel -->
	</body>
</html>