#fonts01{
	background-color:#000033;
}

#fonts02{
	background-color:#000033;
	font-color: #FFFFFF;
}

 #fonts04{
  color: #5d665b;
  font-size: small;
  font-family: Verdana, Geneva, Arial, sans-serif;
  background-color: #e8eae8;
  }
  